body {
	background: #02010a;
	color: white;
	font-size: 16px;
	font-family: 'Dancing Script', cursive;
}

h1 {
  font-size: 2em;
  font-weight: bold;
	text-shadow: 2px 2px #02010A;
}

.cabecera{
	background-color: #5b7989;
}

.actual {
	text-decoration: none;
}

a{
	color: white;
}

img{
	border: 2px solid black;
}


.c4, .c5 {
	color: black;
}

@-webkit-keyframes miAnimacion {
	0%{
		margin-top: 150px;
	}
	60%{
		margin-top: -5px;
	}
	100%{
		margin-top: 0px;
	}

}

@media (max-width: 900px) {


	h1, nav {
		display: inline-flex;
	}

	.c3, .c4, .c5 {
		width: 100%;
		background-color: #d5c75f;
		text-align: center;
	}

	.c3, .c4, .c5, .c6, .c7, .c8,.c9 {
		width: 100%;
		background-color: #C6d5c5;
		text-align: center;
	}

}

@media (min-width: 900px) {

	.container {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
	}

	.c3, .c4, .c5 {
		width: 100%;
	}

	.container {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.container div {
		box-sizing: border-box;
		min-width: 200px;
		padding: 20px;
	}

	.cabecera {
		width: 100%;
		background-color: #5b7989;
		border-radius: 10px 10px 0 0;
		animation: miAnimacion 5s;
	}

	h1, nav {
		display: inline-block;
	}

	h1 {
		width: 50%;
		text-align: left;
	}

	nav {
		text-align: right;
		width: 40%;
	}

	.c3 {
		width: 100%;
		background-color: #82c3a6;
		text-align: center;
	}

	.c4, .c5 {
		width: 50%;
		background-color: #d5c75f;
		text-align: center;
	}

	.c4 img:hover {
		transform: rotate(10deg);
		filter: drop-shadow(2px 2px 2px #82c3a6);
	}

	.c5 img:hover {
		transform: translate(20px,-5px);
		filter: drop-shadow(2px 2px 2px #82c3a6);
	}

	.c6, .c7, .c8, .c9 {
		width: 25%;
		background-color: #C6d5c5;
		display: inline-block;
	}

	.c6{
		border-radius: 0 0 0 10px;
	}

	.c9{
		border-radius: 0 0 10px 0;
	}

	.i1, .i2, .i3, .i4, .i5, .i6 {
		text-align: center;
		background-color: #d5c75f;
	}

	.i1, .i2, .i3{
		width: 33.33%;
	}

	.i1 {
		-webkit-filter: blur(10px);
	}

	.i2, .i4, .i6 {
		-webkit-filter: grayscale(100%);
	}

	.i3 {
		-webkit-filter: sepia(90%);
	}

	.i4, .i5, .i6 {
		width: 33.33%;
	}

	.container {
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}

	footer {
		color: black;
	}

	footer a{
		color: black;
	}

}
