body{
	background: #02010a;
	color: black;
	font-size: 16px;
	font-family: 'Dancing Script', cursive;
	margin-left: 10em;
  margin-right: 10em;
}
header{
	background-color: #5b7989;
	color: white;
	border-radius: 10px 10px 0 0;
	height: 100px;
	width: 100%;
}
h1 {
	width: 50%;
  font-size: 2em;
  font-weight: bold;
	text-shadow: 2px 2px #02010A;
  float: left;
}
nav{
	width: 50%;
  float: right;
}
